Print Statement

In [1]:
print("HOPE AI")

HOPE AI

Get Input

In [3]:
name=input("Enter your institute name? :")
print(name)

Enter your institute name? : mavin

mavin

Get Inputs

In [4]:
name=input("Enter your name :")
age=int(input("Enter your age :"))
sclname=input("Enter your school name :")
degree=input("Enter your degree :" )
print(name)
print(age)
print(sclname)
print(degree)

Enter your name : name
Enter your age : 21
Enter your school name : sri krishna arts and science college
Enter your degree : msc information technology

name
21
sri krishna arts and science college
msc information technology

Addition

In [5]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
add=a+b
print(a)
print(b)
print("Addirion",add)

Enter a number 43
Enter a number 34

43
34
Addirion 77

Subtraction

In [6]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
sub=a-b
print(a)
print(b)
print("Subtraction",sub)

Enter a number 43
Enter a number 34

43
34
Subtraction 9

Multiplication

In [7]:
a=int(input("Enter a number "))
b=int(input("Enter a number" ))
mul=a*b
print(a)
print(b)
print("Multiplication",mul)

Enter a number  63
Enter a number 97

63
97
Multiplication 6111

Division

In [12]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
div=a/b
print(a)
print(b)
print("Division",div)

Enter a number 76
Enter a number 31

76
31
Division 2.4516129032258065

Floor Division

In [11]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
floordiv=a//b
print(a)
print(b)
print("floor div",floordiv)

Enter a number 76
Enter a number 31

76
31
floor div 2

Moduls

In [13]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
mol=a%b
print(a)
print(b)
print("modules",mol)

Enter a number 76
Enter a number 31

76
31
modules 14

Power

In [14]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
power=a**b
print("power",power)

Enter a number 4
Enter a number 4

power 256