print 0 to 20 by using range

In [5]:
for a in range(0,20):
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

print 10 to 20  horizontal

In [8]:
for a in range(10,20):
    print(a,"", end='')

10 11 12 13 14 15 16 17 18 19

print number of items in the list by using 'len'

In [10]:
lists=[10,20,14,55,43,87,76]
print(lists)
print("Number of item in the lists :")
print(len(lists))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the lists :
7

print statement

In [11]:
a="ARITIFICAL INTELLIGENCE"
print(a)
for b in a:
    print(b)

ARITIFICAL INTELLIGENCE
A
R
I
T
I
F
I
C
A
L

I
N
T
E
L
L
I
G
E
N
C
E

In [12]:
a=input("Enter your name")
b=input("Enter your age")
c=input("Enter your profession")
print("your name ",a)
print("your age " ,b)
print("your profession",c)

Enter your name mavin
Enter your age 21
Enter your profession ai

your name  mavin
your age  21
your profession ai

print mixered datatype using Tuples

In [16]:
a=(1,'Welcome',2,'python')
print(a)
b=(0,1,2,3,4)
print(b)
c=((0,1,2,3),('python','HOPE'))
print(c)

(1, 'Welcome', 2, 'python')
(0, 1, 2, 3, 4)
((0, 1, 2, 3), ('python', 'HOPE'))

print Odd numbers in the list

In [17]:
a=[20,10,16,19,25,1,276,188]
for b in a:
    if b%2==1:
        print(b,"is odd number")

19 is odd number
25 is odd number
1 is odd number

print Even number in the list

In [18]:
a=[20,10,16,19,25,1,276,188]
for b in a:
    if b%2==0:
        print(b,"is Even number")

20 is Even number
10 is Even number
16 is Even number
276 is Even number
188 is Even number