In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [22]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [23]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0         True
1    15810944   35            20000          0         True
2    15668575   26            43000          0        False
3    15603246   27            57000          0        False
4    15804002   19            76000          0         True
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1        False
396  15706071   51            23000          1         True
397  15654296   50            20000          1        False
398  15755018   36            33000          0         True
399  15594041   49            36000          1        False

[400 rows x 5 columns]

In [24]:
dataset=dataset.drop("User ID",axis=1)

In [25]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [26]:
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [27]:
indep=dataset[['Age', 'EstimatedSalary','Gender_Male']]
dep=dataset[['Purchased']]

In [28]:
indep.shape

(400, 3)

In [29]:
dep.shape

(400, 1)

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(indep,dep,test_size=0.30,random_state=0)

In [31]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [34]:
from sklearn.linear_model import LogisticRegression

In [43]:
from sklearn.model_selection import GridSearchCV
paran_grid={'solver':['newton-cg','Ibfgs','liblinear;=','saga'],
            'penalty':['12']}
grid=GridSearchCV(LogisticRegression,paran_grid,refit=True, verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(X_train,Y_train)

TypeError: Cannot clone object. You should provide an instance of scikit-learn estimator instead of a class.

In [ ]:
# print best patameter after tuning
# print (grid.best_params)
re=grid.cv_results_
print(re)
grid_prediction=grid.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,grid_prediction)

In [ ]:
from sklearn.metrics import classifcation_report
clf_report=classification_report(Y_test,grid_prediction)

In [ ]:
from sklearn.metrics import f1_score
f1_macro=f1_score(Y_test,grid_prediction,avarage="weighted")
print("The f1_macro value for best parameter{}:".format(grid.best_params_),f1_macro)

In [ ]:
print(cm)

In [ ]:
print(clf_report)

In [ ]:
from sklearn.metrics import roc_auc_socure
roc_auc_score(Y_test,grid.predict_proba(X_test)[1:])

In [ ]:
table=pd.DataFrame.form_dict(re)

In [ ]:
print(re)